max(
    label_replace(
        quantile_over_time({{ quantile }}, {{ metric }}{namespace!~"^(openshift-|kube-|ops-|default|logging|system-).*", container_name!="POD", container_name!="",pod_name!=""}[{{ timerange }}]),
        "pod", "$1", "pod_name", "(.*)"
    ) * on (namespace, pod) group_left(label_app) max(
        label_replace(kube_pod_labels, "label_app", "$1", "label_service", "(.+)")
    ) by (label_app, pod, namespace)
) by (label_app, container_name, namespace)
